/* Global Styles */
body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background color */
    color: #00ff00; /* Green text color */
}

a {
    color: #00ff00; /* Green color for links */
}

/* Hero Banner Styles */
.hero {
    background-image: url('https://cdn.akamai.steamstatic.com/steam/apps/1308960/header.jpg?t=1627918481');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow for a retro effect */
}

.scroll-button {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    background-color: #00ff00; /* Green button color */
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: #005500; /* Darker green button color on hover */
}

/* Game Showcases Styles */
.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}

.game-card {
    width: 300px;
    background-color: #1a1a1a; /* Dark background color for game cards */
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

.game-card img {
    width: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.game-card h2 {
    font-size: 24px;
    color: #00ff00; /* Green text color for game title */
    margin-bottom: 10px;
}

.game-card p {
    color: #fff; /* White text color for game description */
}

.game-card a {
    display: inline-block;
